<div ng-controller="bgmController">
	<div class="container-fluid">
		<h2>Game Setup</h2>
	</div>

	<div class="row" >

		<div class="col-lg-4 col-sm-3 col-md-4 text-center" >

			<div class="panel panel-primary">
				<div class="input-group">
					<div class="input-group-addon" id="">
						<div class="glyphicon glyphicon-time"></div>
					</div> 
					<input type="text" class="form-control" placeholder="{{TIMER_COUNTER}}" id="{{team.logo}}"> 
				</div>
			</div>

		</div>

	</div>
</div>
